* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --blue0: #3774a9;
  --blue1: #76a7d2;
  --blue2: #8cb5d9;
  --blue3: #b2cee6;
  --blue4: #d7e6f3;
  --blue5: #e7f0f8;
  --white: #f7f8f9;
  --black: #1f2a37;
  --gray0: #4d4d4d;
  --gray1: #878787;
  --gray2: #afafaf;
  --gray3: #e6e6e6;
  --gray4: #f3f5f6;
  --gray-stroke: rgba(195, 195, 195, 0.1);
  --light-blue-gray: #e6e9ec;
  --light-salmon: #e6b2b2;
  --salmon: #d98c8c;
  --bg: #e6e6e7;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
  --fw800: 800;
  --border-radius: 0.5rem;
  --radius4: 0.25rem;
  --radius10: 0.625rem;
  --radius100: 6.25rem;
  --blue-inner-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(255, 255, 255, 0.7) inset,
    -0.125rem -0.125rem 0.25rem 0 rgba(118, 167, 210, 0.54) inset,
    0.125rem 0.125rem 0.25rem 0 rgba(118, 167, 210, 0.85) inset;
  --gray-inner-shadow: 0.125rem 0.25rem 0.25rem 0 rgba(195, 195, 195, 0.43),
    -0.125rem -0.125rem 0.5rem 0 rgba(195, 195, 195, 0.5) inset,
    0.125rem 0.125rem 0.5rem 0 rgba(195, 195, 195, 0.2) inset;
  --box-shadow: 0 0.25rem 0.25rem 0 rgba(209, 209, 209, 0.25);
  --transition: 0.4s all ease;
  --letter-spacing: 0.0688rem;
  --line-height: 1.75rem;
}

body {
  background-color: var(--bg);
  width: 100%;
  min-width: 100vw;
  font-size: 16px;
}

/* === 📌 login === */

.section__login {
  width: 90%;
  max-width: 75rem;
  margin: 100px auto;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius10);
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2.5rem;
  height: 100%;
}

.login-h1 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: var(--fw600);
  text-align: center;
  margin-bottom: 0.25rem;
}

label {
  font-weight: var(--fw400);
  color: var(--gray0);
  margin: 1.5rem 0 0.25rem 0;
}

.required {
  color: var(--salmon);
  padding-left: 0.125rem;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.125rem 1rem 1rem;
  font-family: var(--primary-font);
  color: var(--gray0);
  font-size: 1rem;
  border-radius: var(--radius10);
  border: 0.0625rem solid var(--gray4);
  background: #fff;
  width: 100%;
}

input::placeholder {
  color: var(--gray2);
}

input:focus{
  outline: none;
}

small {
  color: var(--salmon);
  font-size: 0.875rem;
  font-weight: var(--fw400);
  margin-bottom: 1.5rem;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/icons/checked.svg");
  cursor: pointer;
}

.unchecked {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/icons/uncheck.svg");
  cursor: pointer;
}

.remember-p {
  color: var(--gray1);
  font-size: 0.875rem;
  font-weight: var(--fw400);
}

.remember{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

.forgot-p {
  color: var(--gray1);
  font-size: 0.875rem;
  font-weight: var(--fw400);
  text-decoration: underline;
  cursor:pointer;
  transition: var(--transition);
}


.forgot-pw {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}



.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: 1rem auto 1.5rem 0;
}

.pink-bold {
  color: var(--salmon);
  font-weight: var(--fw600);
}

.no-account {
  color: var(--gray1);
  font-size: 0.875rem;
  font-weight: var(--fw400);
  margin: 1rem auto 2.5rem 0;
}

.line-or{
  position: relative;
  margin-bottom: 2.5rem;
}

hr{
  border: 0.0437rem solid var(--gray3)
}

.or-text{
  display: flex;
  padding: 0.125rem 1rem;
  background: var(--white);
  color: var(--gray2);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0rem;
  left: 50%;

}

.btn-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.social-signin{
  width: 100%;
}

.agree{

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  margin: 1rem auto 1.5rem 0;
}

.signup-line{
  margin: 2.5rem 0;
}

/* === 📌 responsive === */

@media (max-width: 61.25rem){
  .section__login{
    grid-template-columns: 1fr;
    width: 90vw;
    max-width: 43.75rem;
  }
  .remember-forgot{
    flex-direction: column;
gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (max-width: 37.5rem){
  .login-h1{
    font-size: 2rem;
  }
  .section__login{
    width: 100vw;

  }

  .login-form{
    padding: 1.5rem 1rem;
  }
}